In [1]:
import pandas as pd

In [12]:
df = pd.read_csv("/home/Rodolfo/data-engineering-zoomcamp/05-batch/code/data/raw/fhv/2019/10/fhv_tripdata_2019_10.csv.gz")
#/home/Rodolfo/data-engineering-zoomcamp/05-batch/code/data/raw/fhv/2019/01/fhv_tripdata_2019_01.csv.gz

In [13]:
df.columns

Index(['dispatching_base_num', 'pickup_datetime', 'dropOff_datetime',
       'PUlocationID', 'DOlocationID', 'SR_Flag', 'Affiliated_base_number'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23143222 entries, 0 to 23143221
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   dispatching_base_num    object
 1   pickup_datetime         object
 2   dropOff_datetime        object
 3   PUlocationID            float64
 4   DOlocationID            float64
 5   SR_Flag                 float64
 6   Affiliated_base_number  object
dtypes: float64(3), object(4)
memory usage: 1.2+ GB

In [10]:
df[df['SR_Flag'].notna()].head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
1469,B02395,2019-01-01 00:50:26,2019-01-01 01:16:07,48.0,144.0,1.0,B00887
1470,B02395,2019-01-01 00:51:20,2019-01-01 01:16:07,48.0,144.0,2.0,B00887
1474,B02395,2019-01-01 00:56:24,2019-01-01 01:10:11,181.0,54.0,1.0,B02346
1475,B02395,2019-01-01 00:58:12,2019-01-01 01:02:23,181.0,181.0,2.0,B02346
1485,B02395,2019-01-01 00:24:44,2019-01-01 00:29:54,126.0,168.0,1.0,B00887

In [22]:
filter = df[(df['pickup_datetime']>='2019-10-15') & (df['pickup_datetime']<'2019-10-16')]

In [24]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['dropOff_datetime'] = pd.to_datetime(df['dropOff_datetime'])
df['trip_duration'] = df['dropOff_datetime'] - df['pickup_datetime']

In [26]:
df['trip_duration_hour'] = df['trip_duration'].dt.total_seconds() /3600

In [11]:
df['SR_Flag'].unique()

array([nan,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       15., 16., 13., 14., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38.,
       39., 40., 41., 42., 43.])

In [35]:
df['trip_duration_hour'][df['trip_duration_hour']<24].max()

23.983333333333334

In [33]:
df[['pickup_datetime','dropOff_datetime','trip_duration_hour']][df['trip_duration_hour']==631152.5]

            pickup_datetime    dropOff_datetime  trip_duration_hour
681920  2019-10-11 18:00:00 2091-10-11 18:30:00            631152.5
1659031 2019-10-28 09:00:00 2091-10-28 09:30:00            631152.5

In [37]:
df[['pickup_datetime','dropOff_datetime','trip_duration_hour']][df['dropOff_datetime']<"2020-01-01"].sort_values(by='trip_duration_hour', ascending=False)

            pickup_datetime    dropOff_datetime  trip_duration_hour
1801568 2019-10-30 12:30:04 2019-12-30 13:02:08         1464.534444
1482215 2019-10-25 07:04:57 2019-12-08 07:54:33         1056.826667
1482214 2019-10-25 07:04:57 2019-12-08 07:21:11         1056.270556
33314   2019-10-01 13:47:17 2019-11-03 15:20:28          793.553056
9103    2019-10-01 07:21:12 2019-11-03 08:44:21          793.385833
...                     ...                 ...                 ...
212674  2019-10-04 07:38:05 2019-10-04 07:38:06            0.000278
311425  2019-10-05 19:35:47 2019-10-05 19:35:48            0.000278
1012314 2019-10-17 13:44:12 2019-10-17 13:44:13            0.000278
1599456 2019-10-27 06:25:07 2019-10-27 06:25:08            0.000278
227891  2019-10-04 11:05:21 2019-10-04 11:05:22            0.000278

[1897487 rows x 3 columns]